<div class="profile">
    <section id="wrapper">
        <header id="header">
        {% if site.aboutPage %}
            <a href="{{ site.baseurl }}about">
                <img id="avatar" class="2x" src="{{ site.baseurl }}assets/images/avatar.png"/>
            </a>
        {% else %}
            <img id="avatar" class="2x" src="{{ site.baseurl }}assets/images/avatar.png"/>
        {% endif %}
            <h1>{{ site.author }}</h1>
            <h2>{{ site.description }}</h2>
            <h2>{{ site.description2 }}</h2>
            <br>

            <a href="mailto:oskrocha@gmail.com">
                <i class="fa fa-envelope fa-2x"></i>
            </a>
            <a href="https://www.researchgate.net/profile/Oscar_Rodriguez_Rocha2">
                <i class="ai ai-researchgate-square fa-2x"></i>
            </a>
            <a href="http://orcid.org/0000-0003-2764-1134">
                <i class="ai ai-orcid-square fa-2x"></i>
            </a>
            <a href="https://scholar.google.com/citations?user=q6zhzr8AAAAJ&hl=en">
                <i class="ai ai-google-scholar-square fa-2x"></i>
            </a>
            <a href="https://fr.linkedin.com/in/oscarrodriguezrocha">
                <i class="fa fa-linkedin-square fa-2x"></i>
            </a>
            <a href="https://twitter.com/oscarrodriguez">
                <i class="fa fa-twitter-square fa-2x"></i>
            </a>
            <a href="https://instagram.com/psicosis/">
                <i class="fa fa-instagram fa-2x"></i>
            </a>

        </header>
    </section>
</div>
